body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.heading-container{
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0px;
}
.heading{
    color: white;
    margin: 25px;
    text-align: center;
}

.container{
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    width:400px;
    text-align:center;
}

input{
    width:90%;
    padding:10px;
    margin:10px 0;
}

button{
    padding:10px 20px;
    background:#007bff;
    color:white;
    border:none;
    cursor:pointer;
    box-shadow:0 0 10px rgb(6, 81, 244);
}

button:hover{
    background:#0056b3;
}